:root {
  scroll-behavior: smooth;
  /* colors */
  --main-btn-color: #4e75ff;
  --main-btn-hover-color: #6c8cff;
  --secondary-btn-color: #ff4e4e;
  --secondary-btn-hover-color: #ff7070;
  --text-color: #2e2f42;
  --input-border-color: #808080;
  --input-hover-color: #000000;
  --bg-gray-color: #f6f6fe;
  --bg-white-color: #ffffff;
  /* fonts */
  --text-font-family: 'Montserrat', serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: var(--text-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-white-color);
  color: var(--text-color);
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* ------------------------ */
/* #region обнулення стилів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
/* #endregion */

/* ------------------------ */
/* #region COMMON styles */
.container {
  margin-top: 24px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  width: 392px;
}

.input-field-common {
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  color: var(--text-color);
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  outline: transparent;
  font-family: var(--text-font-family);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-field-common::placeholder {
  font-family: var(--text-font-family);
}
.input-field-common:hover,
.input-field-common:focus {
  border-color: var(--input-hover-color);
}

.title-common {
  font-weight: 600;
  font-size: 24;
  line-height: 1, 33;
  letter-spacing: 0.04em;
}

.button-common {
  height: 40px;
  background-color: var(--main-btn-color);
  color: var(--bg-white-color);
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: fit-content;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-common:hover {
  background-color: var(--main-btn-hover-color);
}
/* #endregion */

/* --------------------- */
/* #region TASK-1 styles */
.categories {
  margin-left: calc(50% - 392px / 2);
}
.item {
  width: 392px;
  padding: 16px;
  background-color: var(--bg-gray-color);
}
.item > h2 {
  margin-bottom: 16px;
}
.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item li {
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  padding: 8px 16px;
}
/* #endregion */

/* --------------------- */
/* #region TASK-2 styles */
.gallery {
  width: 100%;
}
.gallery li {
  width: 360px;
  height: 300px;
}
.gallery img {
  height: 100%;
  object-fit: cover;
}
/* #endregion */

/* --------------------- */
/* #region TASK-3 styles */
.input-task-three {
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: calc(50% - 360px / 2);
}
.title-task-three {
  margin-left: calc(50% - 360px / 2);
}
/* #endregion */

/* --------------------- */
/* #region TASK-4 styles */
.login-form {
  flex-direction: column;
  width: 360px;
  gap: 8px;
  margin-left: calc(50% - 360px / 2);
}
.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.login-form-btn {
  margin-top: 16px;
}
/* #endregion */

/* --------------------- */
/* #region TASK-5 styles */
.widget {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-left: calc(50% - 392px / 2);
}
/* #endregion */

/* --------------------- */
/* #region TASK-6 styles */
.box {
  display: flex;
  gap: 16px;
  width: 486px;
  padding: 32px;
  background-color: var(--bg-gray-color);
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: calc(50% - 486px / 2);
}
.input-task-six {
  width: 150px;
  border-radius: 8px;
  text-align: center;
}
.button-task-six {
  min-width: 120px;
}
.btn-destroy {
  background-color: var(--secondary-btn-color);
}
.btn-destroy:hover {
  background-color: var(--secondary-btn-hover-color);
}
.boxes-div {
  gap: 42px;
  flex-wrap: wrap;
  justify-content: center;
}
.boxes-div-huge-amount {
  width: 90vw;
  margin-left: calc(50% - 90vw / 2);
}

/* #endregion */
